<!doctype html>
<html lang="en">
  <head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>
  <body>
      
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>

<style>
    #login{
        background-blend-mode: lighten;
        background: rgba(0,0,0,0.5) 
        url('https://th.bing.com/th/id/R.06b7444e193eb2dae4d3b4e7b30f582a?rik=4KvKY8Mqn3HQJQ&riu=http%3a%2f%2fwww.freevector.com%2fuploads%2fvector%2fpreview%2f10175%2fFreeVector-Green-Light-Background-Image.jpg&ehk=xECEX7ul78bAC%2b%2fdwRfoVmX8MdE6gPfZWjnqWw3x8k0%3d&risl=&pid=ImgRaw&r=0');
        background-size: cover;
    }

    .back{
        background-color: rgb(161, 215, 53);
    }

    .log{
        text-align: center;
        margin: 160px 400px auto 400px;
        border-radius: 20px;
        font-weight: bolder;
        font-size: larger;
    }

</style>

<body class="back"><div class="log" id="login">
    <h1 style="margin: 10px auto 40px auto">LOGIN PAGE</h1>
    <div class="text-danger">
    <% if (messages.error) { %>
    <%= messages.error %>
    <% } %></div>
    <div>
    <form action="/login" method="POST">
        <div style="margin: 10px auto 10px auto">
        <label for="email">Enter you email</label>
        <input type="email" name="email" id="email">
        </div>
        <div style="margin: 10px auto 10px auto">
        <label for="password">Enter password</label>
        <input for="password" name="password" id="password">
        </div>
        <div>
        <button type="submit" class="btn" style="margin-bottom: 20px;">Submit</button>
        </div>
    </form>
    </div>
    <div style="margin-bottom: 30px; text-align: right">
    <a href="/register">Click to go to register</a>
    </div>
</div>
</body>